/*
*
All Body
*
*/

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
*
Container
*
*/

.flex-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.options-box {
  background-color: grey;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 1.6;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 30%;
}

.map {
  width: 70%;
}


/*
*
Left hand section
*
*/

.input-container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

.hovered {
  border: 1px solid #999;
  background-color: lightblue;
}

input {
  font-size: 12px;
  width: 75%;
}

button {
  width: 25%;
}
.text {
  font-size: 12px;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}
